#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .submenu {
	width: 160px;
	background-color: #23282d;
}

#adminmenuback {
	position: fixed;
	top: 0;
	bottom: -120px;
	z-index: 1; /* positive z-index to avoid elastic scrolling woes in Safari */
}

#adminmenu {
	clear: left;
	margin: 30px 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------------------------------------------
  7.0 - Main Navigation (Left Menu)
------------------------------------------------------------------------------*/

#adminmenuwrap {
	position: relative;
	float: left;
	z-index: 9990;
}
/* side admin menu */
#adminmenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#adminmenu li {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#adminmenu a {
	display: block;
	line-height: 18px;
	padding: 5px;
	color: #eee;
}
#adminmenu .submenu a {
	color: #b4b9be;
	color: rgba(240,245,250,0.7);
}
#adminmenu .submenu {
	list-style: none;
	position: absolute;
	top: -1000em;
	left: 160px;
	overflow: visible;
	word-wrap: break-word;
}

#adminmenu a:hover,
#adminmenu li > a:focus,
#adminmenu .submenu a:hover,
#adminmenu .submenu a:focus {
	color: #00b9eb;
}

#adminmenu li {
	border: none;
	position: relative;
}

#adminmenu .submenu a:hover,
#adminmenu .submenu a:focus {
	background: none;
}

#adminmenu .submenu,
.folded #adminmenu a:focus + .submenu,
.folded #adminmenu .submenu {
	padding: 5px 0 5px;
	z-index: 9999;
	background-color: #32373c;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
#adminmenu .sub-open,
#adminmenu .opensub .submenu{
	top: -1px;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a,
#adminmenu li > a:focus {
	position: relative;
	background-color: #191e23;
	color: #00b9eb;
}
#adminmenu li.opensub:after{
	right: 0;
	border: solid 8px transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #32373c;
	top: 50%;
	margin-top: -8px;
}
#collapse-button{
	background-image: none;
	box-shadow: none;
	background: none;
	border: none;
	color: #eee;
}
.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
	width: 36px;
}
.folded .text_menu{
    display: none;
}
.folded #adminmenu .submenu{
	left: 36px;
}

@media only screen and (max-width: 960px) {

}
@media screen and ( max-width: 782px ) {

}
/* Smartphone */
@media screen and (max-width: 600px) {

}